{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container card">
  <div class="card-body">
    <h4 class="card-title">Register</h4>
    <form class="card-text" method="post">
        {% for message in get_flashed_messages() %}
          <p class="alert alert-danger" role="alert">{{ message }}</p>
        {% endfor %}
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" name="username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Log In">
    </form>
  </div>
</div>
{% endblock %}