<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-90D1H7XSGW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-90D1H7XSGW');
    </script>
</head>
<nav>
    <h1>ClearSky</h1>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>