<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<nav>
    <h1>ClearSky</h1>
</nav>

<section class="content">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-47JTYPXS14"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-47JTYPXS14');
        </script>
        
        {% block header %}{% endblock %}
    </head>
    {% block content %}{% endblock %}
</section>